 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i>WHAT</i> IS A RAIN GARDEN?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                 <p><ul><li style="font-size:20px";>Rain gardens are places on the ground for native plants.</li></ul>
                 <ul><li style="font-size:20px";>They capture extra rain that would run down the street or sidewalk.</li></ul>
                 <ul><li style="font-size:20px";>Rain gardens absorb a few inches of water everytime it rains.</li></ul>
                 <ul><li style="font-size:20px";>They conserve water too so you don't need to water a lawn every few days!</li></ul>
                 <ul><li style="font-size:20px";>Rain gardens can be <b>very colorful</b> and popular.</li></ul><br>
                 <img src="img/food.png" height="288" width="400"></img>
            </p>
                </div>
                <div class="col-lg-4">
                 <p><img src="img/water.png" height="288" width="400"></img><br><br><br><br>
                 <ul><li style="font-size:20px";>It's best when at least 10 feet away from buildings.</li></ul>
                 <ul><li style="font-size:20px";>They are happiest in part or full sunlight.</li></ul>
                 <ul><li style="font-size:20px";>The soil in them can be sandy, clay, or mixed!</li></ul>
                 <ul><li style="font-size:20px";>They can be various different shapes or sizes, just like puppies and cake!</li></ul>
                </div>
               
            </div>
        </div>
    </section>
