<!-- Contact Section -->
<section id="contact">
	<div class="container">
	    <div class="row">
		 <div class="col-lg-12 text-center">
				<h2>How Rain Gardens <i>Help</i> Us</h2>
				<hr class="star-primary">
			</div>
			<div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><ul><li style="font-size:20px";>They keep water from pooling nearby and causing damage to your home.</li></ul>
                 <ul><li style="font-size:20px";>They prevent toxic water from running into the sewers, ponds, and lakes.</li></ul>
                 <ul><li style="font-size:20px";>They reduce the chances of mosquitoes and other pests from hanging around puddles of water.</li></ul>
                 <ul><li style="font-size:20px";>They help native plants stay around and continue growing.</li></ul><br>
                 <img src="img/fun.png" height="288" width="400"></img>
		</p>
                </div>
                <div class="col-lg-4">
                    <p><img src="img/house.png" height="288" width="400"><br><br><br></img><ul><li style="font-size:20px";>Rain gardens keep the soil from drying out and breaking apart.</li></ul>
                 <ul><li style="font-size:20px";>Air moisture stays more regular with them around which helps clouds form.</li></ul>
                 <ul><li style="font-size:20px";>All these positive things would help a lot of people in your city.</li></ul>
                 <ul><li style="font-size:20px";>And a better environment and happier neighbors means more time to play! </li></ul>
                 <br>
                 </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
			<a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme </a>
		
		</div>
	  </div>
    </div>
	
               
         
</section>
